{% extends "crm-layout.html" %}
{% block title %}
    添加或更新跟进记录
{% endblock %}

{% block content %}
    <div class="panel-block is-active">
        <form method="post" class="form container">
            {% for m in get_flashed_messages('crm') %}
                <article class="message is-warning">
                    <div class="message-header">
                        <p>消息</p>
                    </div>
                    <div class="message-body">
                        {{ m.1}}
                    </div>
                </article>
            {% endfor %}
            <div class="field">
                <label class="label" for="name">联系人</label>
                <div class="control">
                    <input type="text" name="name" class="input" placeholder="联系人" value="{{ name }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="compamy">公司名</label>
                <div class="control">
                    <input type="text" name="company" class="input" placeholder="公司名" value="{{ company }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="compamy">联系电话</label>
                <div class="control">
                    <input type="tel" name="tel" class="input" placeholder="联系电话" value="{{ tel }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="address">客户地址</label>
                <div class="control">
                    <input type="text" name="address" class="input" placeholder="客户地址" value="{{ address }}">
                </div>
            </div>

            <div class="field">
                <label class="label">跟进状态</label>
                <div class="control">
                    <div class="select">
                        <select name="status">
                            {% for c in choices %}
                                <option value="{{ c.value }}" {% if c.value == status %} selected="true" {% endif %}>{{ c.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">标签</label>
                <div class="control">
                    <div class="select is-multiple">
                        <select name="tags" multiple="multiple">
                            {% for t in tags %}
                                <option value="{{ t.id }}" {% if t.name in curr_tags %} selected="selected" {% endif %}>{{ t.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="markup">备注</label>
                <div class="control">
                    <input type="text" name="markup" class="input" placeholder="备注" value="{{ markup }}">
                </div>
            </div>

            <input type="hidden" name="id" value="{{ id or '' }}">
            <input type="hidden" name="is_update" value="{{ is_update or False }}">
            <input type="submit" value="{% if is_update %}更新{% else %}提交{% endif %}" class="button is-primary">
            {% if is_update %}
                <button type="button" class="button is-info" onclick="window.history.go(-1)">返回</button>
            {% endif %}
        </form>
    </div>

    <script>
        function removeMessage() {
            setTimeout(() => {
                let articles = document.querySelector('article')
                if(articles){
                    articles.remove()
                }
            }, 5000)
        }
        document.body.onload = removeMessage
    </script>
{% endblock %}