{% extends "layout.html" %}

{% block css %}
    form{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    form *{
        margin-top: 20px;
    }
    form div{
        font-size: 16px;

{% endblock %}

{% block content %}
    <form method="post">
        <input type="text" name="number">
        <div>
            <label for="template_id">短信模板ID</label>
            <input type="text" name="template_id" placeholder="不填写则未默认值">
        </div>
        <div>
            <label for="sign">短信签名</label>
            <input type="text" name="sign" placeholder="建议不填写(默认为 浩轩陈皮)">
        </div>
        <button type="submit">发送</button>
    </form>
{% endblock %}