{% extends "layout.html" %}

{% block css %}
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form *{
        font-size: 18px;
        margin-top: 25px;
        width: 40%;
    }
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post">
        <div>
            <label for="list">客户列表文件</label>
            <input type="file" name="list">
        </div>
        <button type="submit">上传</button>
    </form>
{% endblock %}