{% extends "layout.html" %}

{% block css %}
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form *{
        font-size: 18px;
        margin-top: 25px;
        width: 40%;
    }
    .flashed{
        width:40%;
        margin: 0 auto;
        font-size: 18px;
        border-radius: 5px;
        color: red;
        background-color: yellow;
        height: 25px;
    }
{% endblock %}

{% block content %}
    {% for m in get_flashed_messages() %}
        <div class="flashed">{{ m }}</div>
    {% endfor %}

    <form enctype="multipart/form-data" method="post">
        <div>
            <label for="list">客户列表文件</label>
            <input type="file" name="list">
        </div>
        <button type="submit">上传</button>
    </form>
    <script>
        let flashed = document.querySelector('.flashed')
        if(flashed){
            setTimeout(()=> {
                flashed.remove()
            }, 1000 * 3)
        }
    </script>
{% endblock %}